{
	"env": {
		"browser": true,
		"node": true
	},

	"ecmaFeatures": {
		"jsx": true
	},

	"rules": {
		"brace-style": 2,
		"indent": [2, "tab"],
		"max-len": [2, 120, 4],
		"new-cap": 0, // https://github.com/eslint/eslint/issues/2023
		"no-use-before-define": [2, "nofunc"],
		"one-var": [2, "never"],
		"operator-linebreak": 2,
		"quote-props": [2, "as-needed"],
		"quotes": [2, "single", "avoid-escape"],
		"keyword-spacing": 2,
		"space-before-function-paren": [2, "never"],
	}
}