extends layout

block content
	.container
		.section.title-section(id='title-editable')
		.section.content-section(id='content-editable')
		a#save-button.button Save
	script(src='/javascripts/load.js')
	script(src='/javascripts/save.js')