extends layout

block content
	nav.top-nav
		a(id='nav-open')
			i.material-icons menu
	.container
		.title-section(id='title-editable')
			p Title
		.content-section(id='content-editable')
	script.
		var titleEditor = new MediumEditor('#title-editable');
		var contentEditor = new MediumEditor('#content-editable', {
			buttonLabels: 'fontawesome',
			toolbar: {
				buttons: [
					'bold',
					'italic',
					'underline',
					'subscript',
					'superscript',
					'anchor',
					'quote',
					'orderedList',
					'unorderedList',
					'justifyLeft',
					'justifyCenter',
					'justifyRight',
					'justifyFull',
					'h1',
					'h2'
				]
			}
		});