doctype html
html
	head
		title= title
		link(href='/stylesheets/base.css' rel='stylesheet')
		script(src='http://cdn.jsdelivr.net/medium-editor/latest/js/medium-editor.min.js')
		link(rel='stylesheet' href='http://cdn.jsdelivr.net/medium-editor/latest/css/medium-editor.min.css' type='text/css' media='screen' charset='utf-8')
		link(rel='stylesheet' href='http://cdn.jsdelivr.net/medium-editor/latest/css/themes/default.min.css' type='text/css' media='screen' charset='utf-8')
		link(href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')
		link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css' rel='stylesheet' type='text/css')
	body
		block content
