html, body {
	padding: 0;
	margin: 0;
}

html {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 150%;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

.container {
	width: 75%;
	margin: 0 auto;
}

.section {
	padding: 20px 0;
}

.title-section {
	font-family: 'Alegreya', serif;
}

#save-button {
	padding: 10px;
	background: #494949;
	color: white;
	border-style: none;
	width: inherit;
	position: fixed;
	bottom: 0;
	text-align: center;
	cursor: pointer;
}

#save-button:active {
	background: #595959;
}

#nav-open:visited {
	color: black;
}

#sidebar {
	position: fixed;
	width: 0;
	height: 100vh;
	top: 0;
	background-color: #cccccc;
	transition: width 1s;
	z-index: 1000;
}

#sidebar.active {
	width: 200px;
}